body {
  background-color: black;
  color:white;
  margin: 0 auto;
  text-align: center;
}

.board-container {
  background-color:#270082;
  background-size: contain;
  box-shadow: 0 1px 5px #CCC;
  border-radius: 5px;
  height: 430px;
  width: 400px;
  margin: 0 auto;

}
h1{
  margin: 20px auto;
  text-shadow: 0 1px 1px;
  color: #086E7D;
  font-size: 2em;
  width: 200px;
  background-color: #88E0EF;
  letter-spacing: 5px;
}

.cell {
  width: 40px;
  height: 40px;
  text-shadow: 0 1px 1px;
  text-align: center;
  font-size: 1.5em;
}
.pop-modal {
  background-color:#FBF46D;
  box-shadow: 0 1px 5px #CCC;
  border-radius: 5px;
  float: center;
  margin: auto;
  color: black;
  width: 300px;
  height: 100px;
  display: none;
  margin-top: 50px;
}

.btn {
  display: block;
  background-color: #A3DDCB;
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */

.super{
  color:red;
}
